<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetConnect</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetConnect.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="~/images/logo.png" alt="Logo" class="navbar-logo">
            <div class="navbar-links">
                <a href="#" class="icon-btn">
                    <i class="fas fa-newspaper"></i> Noticias
                </a>
                <a href="#" class="icon-btn">
                    <i class="fas fa-paw"></i> Servicios
                </a>
                <a href="#" class="icon-btn">
                    <i class="fas fa-heart"></i> Favoritos
                </a>
                <div class="navbar-links">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="icon-btn">
                            <i class="fas fa-user-circle"></i> @User.Identity.Name
                        </a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Guest", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </button>
                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" class="icon-btn">
                            <i class="fas fa-user-circle"></i> Iniciar Sesión
                        </a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PetConnect - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
