@{
    ViewData["Title"] = "Directorio de Servicios";
}

<div class="main-content directorio-page">
    
    <h1 class="directorio-title">Servicios</h1>
    
    <div class="search-bar-container">
        <input type="text" placeholder="¿Qué estás buscando?" class="search-input"/>
        <button class="search-button">
            <span class="material-symbols-outlined">search</span>
        </button>
    </div>

    <div class="category-grid">
        
        <div class="category-row">
            <!-- ESTE ES EL ENLACE CORREGIDO -->
            <a class="category-card" asp-controller="Servicio" asp-action="Index">
                <div class="card-icon">
                    <span class="material-symbols-outlined">pets</span>
                </div>
                <span class="card-name">Veterinarias</span>
                <span class="material-symbols-outlined card-arrow">expand_more</span>
            </a>

            <!-- Los otros enlaces todavía son placeholders -->
            <!-- Enlace a la lista de PET SHOPS -->
            <a class="category-card" asp-controller="PetShop" asp-action="Index">
                <div class="card-icon">
                 <span class="material-symbols-outlined">storefront</span>
             </div>
            <span class="card-name">Pet Shop</span>
            <span class="material-symbols-outlined card-arrow">expand_more</span>
            </a>


            <!-- ESTA ES LA SOLUCIÓN -->
            <a class="category-card" asp-controller="Lugares" asp-action="Index">
                <div class="card-icon">
                    <span class="material-symbols-outlined">signpost</span>
                </div>
                <span class="card-name">Lugares Pet Friendly</span>
                <span class="material-symbols-outlined card-arrow">expand_more</span>
            </a>

        </div>

        <div class="category-row">
            <a class="category-card" asp-controller="Guarderias" asp-action="Index">
                <div class="card-icon">
                    <span class="material-symbols-outlined">night_shelter</span>
                </div>
                <span class="card-name">Guardería</span>
                <span class="material-symbols-outlined card-arrow">expand_more</span>
            </a>

            <a asp-controller="Adopcion" asp-action="Index" class="category-card">
                <div class="card-icon">
                    <span class="material-symbols-outlined">volunteer_activism</span>
                </div>
                <span class="card-name">Adopción De Mascotas</span>
                <span class="material-symbols-outlined card-arrow">expand_more</span>
            </a>
        </div>
        
    </div>