@{
    ViewData["Title"] = "Página de Invitado";
}

<div class="main-content">
    <div class="hero-section">
        <h1 class="hero-text">La plataforma que cuida a quien más quieres</h1>
        <div class="hero-image">
            <img src="~/images/pet-logo.png" alt="Logo de Purr & Paws">
        </div>
    </div>
    <div class="featured-news-section">
        <h2>Noticias destacadas</h2>
        <div class="news-cards-container">
            <div class="news-card">
                <img src="~/images/gato-durmiendo.png" alt="Gato durmiendo">
                <div class="card-content">
                    <h3>¿Por qué los gatos duermen mucho?</h3>
                    <p>26/08/2025</p>
                    <a href="#" class="read-more-btn">Leer más...</a>
                </div>
            </div>
            <div class="news-card">
                <img src="~/images/perro-primeros-auxilios.png" alt="Perro en primeros auxilios">
                <div class="card-content">
                    <h3>Primeros auxilios para perros: protege a tu peludo en segundos</h3>
                    <p>26/08/2025</p>
                    <a href="#" class="read-more-btn">Leer más...</a>
                </div>
            </div>
            <div class="news-card">
                <img src="~/images/gato-persa.png" alt="Gato persa">
                <div class="card-content">
                    <h3>Gato persa: El rey de la elegancia felina</h3>
                    <p>21/08/2025</p>
                    <a href="#" class="read-more-btn">Leer más...</a>
                </div>
            </div>
        </div>
    </div>
</div>