@{
    Layout = null;
    ViewData["Title"] = "Bienvenido a Purr & Paws";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <img class="corner-logo" src="/images/logoP.png" alt="Purr & Paws Logo" />
    
    <main class="home-main">
        <h1>Bienvenido a Purr & Paws</h1>
        <p>Donde cada momento con tu mascota importa</p>
            <div class="home-buttons">
                <a href="/Identity/Account/Login" class="btn-primary">Iniciar Sesión</a>
                <a href="/Identity/Account/Register" class="btn-primary">Registrarse</a>
                <a href="#" class="btn-secondary">Invitado</a>
            </div>
    </main>

    <img class="dog-image" src="/images/perro_inicio.png" alt="Un perro" /> <img class="person-cat-image" src="/images/dueño_mascota.png" alt="Persona abrazando un gato" /> </body>
</html>