@{
    ViewData["Title"] = "Inicio - Cliente";
}
<h1>PetConnect — Inicio (Cliente)</h1>
<p>Bienvenido, usuario registrado. (Trabajo: Integrante 2)</p>
<nav>
    <a asp-controller="Noticias" asp-action="Index">Noticias</a> |
    <a asp-controller="Favoritos" asp-action="Index">Favoritos</a> |
    <a asp-controller="Perfil" asp-action="Cliente">Mi Perfil</a>
</nav>
