@{
    ViewData["Title"] = "Noticias";
}
<h2>Noticias</h2>
<p>Listado de noticias (invitado / cliente). (Trabajo: Integrante 2)</p>

<ul>
    <li><a asp-action="Detalle" asp-route-id="1">Noticia 1</a></li>
    <li><a asp-action="Detalle" asp-route-id="2">Noticia 2</a></li>
</ul>
